<h1> Create Your Article </h1>

<body>
<form action="/articles" method="post" >
<input type="text" name="title", placeholder="title"><br>
<textarea id="story" name="content" rows="5" cols="33"></textarea><br>
<input type="submit" value="Submit">
</form>
</body>